<template>
  <CModal v-model="dialogoDerivacion" @cerrar="cerrar" :titulo="'Derivar Registro'">
    <v-form ref="form" v-model="validacion" lazy-validation>
      <v-row>
        <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Registro</v-list-item-title>
                  <v-list-item-subtitle>{{registroSeleccionado.numeroRegistro}}</v-list-item-subtitle>
                </v-list-item-content>
        </v-list-item>
        <!--v-col cols="12" sm="12">
          <v-text-field
            label="Registro(*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="idRegistro"
            :rules="[v => !!v || 'Unidad responsable es requerido']"
          ></v-text-field>
        </v-col-->
        <v-col cols="12" sm="12">
          <v-autocomplete
            v-model="idOficina"
            item-text="nombreOficina"
            item-value="id"
            :items="oficinas"
            :return-object="false"
            outlined
            dense
            label="Oficina Destino (*)"
            :rules="[v => !!v || 'Unidad destino es requerido']"
          ></v-autocomplete>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            type="date"
            label="Fecha asignacion (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="fechaAsignacion"
            :rules="[v => !!v || 'Fecha de derivacion es requerido', v => (v && v.length>=2 && v.length <= 30 ) || '..']"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            type="date"
            label="Fecha respuesta (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="fechaRespuesta"
            :rules="[v => !!v || 'Fecha tentativa de respuesta', v => (v && v.length>=2 && v.length <= 30 ) || '..']"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Proveido (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="proveido"
            :rules="[v => !!v || 'Remitente es requerido', v => (v && v.length>=2 && v.length <= 30 ) || 'Remitente debe tener entre 2 y 30 caracteres']"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>

    <template #actions>
      <v-btn
        type="submit"
        @click="guardar"
        color="primary"
        class="pl-4 pr-4"
        :disabled="cargando"
      >Guardar
        <v-progress-circular
          v-if="cargando"
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-btn>
      <CSnackBarErrores
        v-if="errores !== null"
        :errores="errores"
        :mensaje="mensaje"
        @cerrar="cerrarMensaje"
      ></CSnackBarErrores>
    </template>
  </CModal>
</template>

<script>

import axios from "axios";
import { mapState } from "vuex";
import CModal from "../../organisms/CModal/CModal";
import CSnackBarErrores from "../CSnackBarErrores";
export default {
  name: "CDerivarRegistroDialogo",
  components: { CSnackBarErrores, CModal},
  props: ["dialogoDerivacion", "registroSeleccionado"],
  data: () => ({
    cargando: false,
    validacion: false,
    mensaje: false,
    errores: "",
    registro:{},
    oficinas:[],
    esNuevo:null,
    idRegistro:null,
    idOficina:null,
    fechaAsignacion:null,
    fechaRespuesta:null,
    proveido:null,
  }),

  mounted(){
    this.listarOficinas();
    console.log (this.dialogoDerivacion)
  },

  methods:{
    listarOficinas(){
      let url = this.urlBase + "oficinas";
      axios.get(url).then((response) => {
        this.oficinas = response.data.result;
      });
    },

    cerrarMensaje() {
      this.mensaje = false;
    },

    cerrar(){
      this.$emit("cerrar");
      if(this.esNuevo)
        this.$refs.form.reset();
    },

    guardar(){
      if(!this.$refs.form.validate()){
        return;
      }
      this.cargando = true;
      this.esNuevo = true;
        if(this.esNuevo){
          axios({
            method: "POST",
            url: this.urlBase + "asignar-registros", 
            data:{
            idRegistro:this.registroSeleccionado.id,
            idOficina:this.idOficina,
            fechaAsignacion:this.fechaAsignacion,
            fechaRespuesta:this.fechaRespuesta,
            proveido:this.proveido}
      })
        .then((response) => {
          if (response.data.ok) {
            this.$toastr.success(response.data.mensaje);
            this.cerrar();
            this.$emit("listarRegistroNotas");
          } else {
            this.$toastr.error(response.data.mensaje);
          }
        })
        .catch((e) => {
          this.errores = e.response;
          consola.log(e.response);
          this.mensaje = true;
        })
        .finally(() => {
          this.cargando = false;
          this.$refs.form.reset();
        });
      }
    }
  },

  computed: {
    ...mapState(["urlBase"]),
  },
};

</script>
<style scoped></style>