<template>
  <CModal v-model="dialogo" @cerrar="cerrar" :titulo="(esNuevo ? 'Agregar': 'Editar') + 'Registro'">
    <v-form ref="form" v-model="validacion" lazy-validation>
      <v-row>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Numero de Registro (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="item.numeroRegistro"
            :rules="[v => !!v || 'Numero de registro es requerido', v => (v && v.length>=2 && v.length <= 30 ) || 'Numero de registro 5 caracteres']"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            type="date"
            label="Fecha Ingreso (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="item.fechaIngreso"
            :rules="[v => !!v || 'Fecha ingreso es requerido', v => (v && v.length>=2 && v.length <= 30 ) || '..']"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Remitente (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="item.remitente"
            :rules="[v => !!v || 'Remitente es requerido', v => (v && v.length>=2 && v.length <= 30 ) || 'Remitente debe tener entre 2 y 30 caracteres']"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-autocomplete
            v-model="item.idOficina"
            item-text="nombreOficina"
            item-value="id"
            :items="oficinas"
            :return-object="false"
            outlined
            dense
            label="Unidad Remitente (*)"
            :rules="[v => !!v || 'Unidad remitente es requerido']"
          ></v-autocomplete>
        </v-col>
        <v-col cols="12" sm="12">
          <v-text-field
            label="Referencia (*)"
            maxlength="30"
            :counter="30"
            autocomplete="off"
            outlined
            v-model="item.descripcion"
            :rules="[
              v => !!v || 'Descripcion es requerido', 
              v => (v && v.length>=2 && v.length <= 30 ) || 
              'Descripcion debe tener entre 2 y 30 caracteres'
            ]"
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="12">
          <v-text-field
            label="Numero de Fojas (*)"
            maxlength="3"
            :counter="3"
            autocomplete="off"
            outlined
            v-model="item.numeroFojas"
            @keypress="$funciones.soloNumero($event)"
            :rules="[
              v => !!v || 'Numero de Fojas es requerido', 
              v => (
                v && v.length>=1 && v.length <= 3 ) || 
                'Numero de Fojas debe tener entre 1 y 30 caracteres',
            ]"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12">
          <v-autocomplete
            v-model="item.tipoDocumento"
            item-text="descripcion"
            item-value="descripcion"
            :items="tiposDocumento"
            :return-object="false"
            outlined
            dense
            label="Tipo documento (*)"
            :rules="[v => !!v || 'Unidad remitente es requerido']"
          ></v-autocomplete>
        </v-col>
      </v-row>
    </v-form>

    <template #actions>
      <v-btn
        type="submit"
        @click="guardar"
        color="primary"
        class="pl-4 pr-4"
        :disabled="cargando"
      >Guardar
        <v-progress-circular
          v-if="cargando"
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-btn>
      <CSnackBarErrores
        v-if="errores !== null"
        :errores="errores"
        :mensaje="mensaje"
        @cerrar="cerrarMensaje"
      ></CSnackBarErrores>
    </template>
  </CModal>
</template>

<script>

import axios from "axios";
import { mapState } from "vuex";
import CModal from "../../organisms/CModal/CModal";
import CSnackBarErrores from "../CSnackBarErrores";
export default {
  name: "CRegistroNotasDialogo",
  components: { CSnackBarErrores, CModal},
  props: ["item", "dialogo", "esNuevo"],
  data: () => ({
    cargando: false,
    validacion: false,
    mensaje: false,
    errores: "",
    registro:{},
    oficinas:[],
    tiposDocumento:[],
  }),

  mounted(){
    this.listarOficinas();
    this.listarTiposDocumento();

  },
  methods:{
    listarOficinas(){
      let url = this.urlBase + "oficinas";
      axios.get(url).then((response) => {
        this.oficinas = response.data.result;
      });
    },

    listarTiposDocumento(){
      let url = this.urlBase + "tipos-documento";
      axios.get(url).then((response) => {
        this.tiposDocumento = response.data.respuesta;
      });
    },
    
    cerrarMensaje() {
      this.mensaje = false;
    },

    cerrar(){
      this.$emit("cerrar");
      this.cerrarMensaje();
      if(this.esNuevo)
        this.$refs.form.reset();
    },

    guardar(){
      if(!this.$refs.form.validate()){
        return;
      }
      this.cargando = true;
      this.esNuevo = true;
      axios({
        method: this.esNuevo ? "POST": "PUT",
        url: this.urlBase + "registros" + (this.esNuevo ? "" : "/" +  this.item.id),
        data: this.item
      })
        .then((response) => {
          if (response.data.status) {
            this.$toastr.success(response.data.message);
            this.cerrar();
            this.$emit("listarRegistroNotas");
          } else {
            this.$toastr.error(response.data.message);
          }
        })
        .catch((e) => {
          this.errores = e.response;
          this.mensaje = true;
        })
        .finally(() => {
          this.cargando = false;
          this.$refs.form.reset();
        });
    },
  },
  computed: {
    ...mapState(["urlBase"]),
  },
};
</script>

<style scoped></style>