<template>
  <div>
    <div class="d-flex justify-space-between">
      Registro Notas
<v-btn class="success" @click="abrirDialogo(true, item)">Agregar Registro Nota</v-btn>
    </div>
    <v-data-table
      :headers="headers"
      :items="registroNotas"
      :cargando="cargando"
      :mobile-breakpoint="0"
      item-key="id"
    >
      <template v-slot:body="{ items }">
        <tbody>
        <tr
          v-for="(item, index) in items"
          :key="item.id"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ item.numeroRegistro }}</td>
          <td>{{ item.fechaIngreso }}</td>
          <td>{{ item.remitente }}</td>
          <td>{{ item.idOficina }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.numeroFojas }}</td>
          <td><CMenu>

            <CMenuItem
              @click="abrirDialogo(false, item)"
              icono="mdi-pencil"
              texto="Editar registro"
            />
            <CMenuItem
              @click="eliminarRegistro(item)"
              icono="mdi-delete"
              texto="Eliminar registro"
            />
            <CMenuItem
              @click="derivarRegistro(item)"
              icono="mdi-pencil"
              texto="Derivar registro"
            />
          </CMenu></td>

        </tr>
        </tbody>
      </template>
    </v-data-table>

    <CRegistroNotasDialogo
      :item="item"
      :dialogo="dialogo"
      :esNuevo="esNuevo"
      @cerrar="cerrar"
      @listarRegistroNotas="listarRegistroNotas"
    />

    <CDerivarRegistroDialogo :registroSeleccionado="registroSeleccionado"
      :item="item"
      :dialogoDerivacion="dialogoDerivacion"
      @cerrar="cerrar"
      />
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
import CMenu from "../CMenu/CMenu";
import CMenuItem from "../CMenu/CMenuItem";
import CRegistroNotasDialogo from "./CRegistroNotasDialogo";
import CDerivarRegistroDialogo from "./CDerivarRegistroDialogo";
export default {
    name: "CRegistroNotasTabla",
    components:{
        CRegistroNotasDialogo,
        CDerivarRegistroDialogo,
        CMenuItem,
        CMenu
    },
    data(){
        return {
            registroSeleccionado:{},
            dialogoDerivacion: false,
            dialogo: false,
            esNuevo: false,
            item: {},
            cargando: false,
            headers: [
                {text: "#", value: "nro"},
                {text: "numero registro", value:"numero Registro"},
                {text: "fecha ingreso", value:"fechaIngreso"},
                {text: "remitente", value:"remitente"},
                {text: "unidad origen", value:"idOficina"},
                {text: "referencia", value:"referencia"},
                {text: "numeroFojas", value:"numeroFojas"},
                { text: "Acciones", sortable: false, value: "acciones" },
            ],
            registroNotas: [],
        };
    },
    mounted() {
        this.listarRegistroNotas();
    },

    computed: {
        ...mapState(["urlBase"]),
    },

    methods: {
        cerrar() {
            this.dialogo = false;
            this.dialogoDerivacion = false;
        },

        eliminarRegistro(item){
        
        },

        abrirDialogo(esNuevo, item) {
            this.dialogo = true;
            this.esNuevo = esNuevo;
            if(esNuevo)
                this.item = {};
            else
            this.item = item;
        },

        derivarRegistro(registro){
          this.dialogoDerivacion = true;
          this.registroSeleccionado = registro;
        },

        listarRegistroNotas() {
            this.cargando = true;
            let url = this.urlBase + "registros";
            axios
                .get(url)
                .then((response) => {
                this.registroNotas = response.data.result;
                console.log(this.registroNotas);
            })
            .catch((err) => {
                console.error(err);
            })
            .finally(() => {
            this.cargando = false;
            });
        },
    },
};
</script>
<style>
.v-data-footer {
  background-color: #f2f2f2;
}
th {
  color: #45618b !important;
  text-transform: uppercase;
}
.theme--light.v-data-table tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}
</style>