<template>
<div>
<v-col>
  <div class="d-flex justify-space-between">
    Asignaciones
    <v-btn class="success" @click="abrirDialogo(item)">Realizar Nueva Asignacion</v-btn>  
  </div>
 <div>
    <form>
    <v-row align="center" class="pl-5">
      <v-col cols="8">
        <v-text-field
          v-model="numeroRegistro"
          label="Numero registro"
        ></v-text-field>
        <v-btn small @click="clickBuscar"> Buscar </v-btn>
        <v-btn small @click="clickLimpiar"> Limpiar </v-btn>
      </v-col>
    </v-row>
    <v-row>
      Datos del registro
      <div>
      </div>
    </v-row>
  </form>
</div>
<div>
            <v-data-table
              :headers="encabezado"
              :items="registroAsignaciones"
              :cargando="cargando"
              item-key="id"
            >
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item, index) in items" 
                      :key="item.id"
                    >
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.registroNota.numeroRegistro}}</td>
                    <td>{{ item.oficinaAsignacion.nombreOficina}}</td>
                    <td>{{ item.fechaAsignacion }}</td>
                    <td>{{ item.fechaRespuesta }}</td>
                    <td>{{ item.proveido }}</td>
                    <td>
                      <div class="d-flex flex-row">
                        <v-btn
                          class="ma-2"
                          outlined
                          x-small
                          color="primary"
                          @click="verAsignacion(item)"
                        >
                          Ver
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
          
</div>
  
</v-col>
<CDerivarRegistroDialogo 
  :registroSeleccionado="registroSeleccionado"
  :item="item"
  :dialogoDerivacion="dialogoDerivacion"
  @cerrar="cerrar"
  @listarRegistroAsignaciones="listarRegistroAsignaciones"
/>
</div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
import CDerivarRegistroDialogo from "./CDerivarRegistroDialogo";

export default {
  name: "CRegistroConsultaTabla",
  components:{
    CDerivarRegistroDialogo
  },

  data(){
    return{
      registroSeleccionado:{},
      dialogoDerivacion: false,
      esNuevo: false,
      item: {},
      registroId: null,
      numeroRegistro:"",
      cargando: false,
      encabezado:[
        {text: "#", value:"id"},
        {text: "Nro Registro", value:"numeroRegistro"},
        {text: "Oficina Asignada", value:"nombreOficina"},
        {text: "Fecha Derivacion", value:"fechaDerivacion"},
        {text: "Fecha Respuesta", value:"fechaRespuesta"},
        {text: "Proveido", value:"proveido"},
      ],
      registroAsignaciones: [],
    };
  },

  computed: {
        ...mapState(["urlBase"]),
  },

  methods: {
    cerrar() {
            this.dialogoDerivacion = false;
    },

    abrirDialogo(registro) {
        this.dialogoDerivacion = true;
    },

    clickBuscar(event) {
      event.preventDefault();
      this.listarRegistroAsignaciones();
    },

    clickLimpiar(event) {
      event.preventDefault();
      this.numeroRegistro = "";
      this.listarRegistroAsignaciones();
    },

    listarRegistroAsignaciones() {
            this.cargando = true;
            let url = this.urlBase + "asignar-registros/"+this.numeroRegistro;
            axios
                .get(url)
                .then((response) => {
                this.registroAsignaciones = response.data.respuesta;
                console.log(this.registroAsignaciones)
                this.registroSeleccionado = this.registroAsignaciones[0].registroNota;
                console.log(this.registroSeleccionado)
            })
            .catch((err) => {
                console.error(err);
            })
            .finally(() => {
            this.cargando = false;
            });
        },

    
  }
}
</script>
<style>
.v-data-footer {
  background-color: #f2f2f2;
}
th {
  color: #45618b !important;
  text-transform: uppercase;
}
.theme--light.v-data-table tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}
</style>