<template>
  <v-card elevation="1">
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-card-title class="d-flex justify-space-between pt-0"></v-card-title>

    <v-card-text>
      <CRegistroConsultaTabla/>

    </v-card-text>
  </v-card>
</template>

<script>
import CRegistroConsultaTabla from "../../components/molecules/registroNotas/CRegistroConsultaTabla";
export default {
  name: "indexConsultas",
  components: { CRegistroConsultaTabla },
  data() {
    return {
      codigo: "",
      items:[
        {
          text: "Inicio",
          disable: false,
          href: "/"
        },
        {
          text: "RegistroNotas",
          desabled: false,
          href: "#"
        },
        {
          text: "Consulta",
          desabled: true,
          href: "#"
        },
      ]
    };
  }
};
</script>

<style scoped>

</style>