<template>
  <v-card elevation="1">
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-card-title class="d-flex justify-space-between pt-0"></v-card-title>

    <v-card-text>
      <v-stepper v-model="paso" vertical color="fondo">
        <v-stepper-step :complete="paso > 1" step="1">
          Registro Oficina
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-card  class="mb-12" >
            <CJuzgadoRegistro @sumarPaso="sumarPaso" @cambiarIdOficina="cambiarIdOficina"></CJuzgadoRegistro>
          </v-card>
        </v-stepper-content>


        <v-stepper-step :complete="paso > 2" step="2">
          Asignación de instancias
          <small>Sólo si es juzgado</small>
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-card class="mb-12">
            <COficinaInstancia :idOficina="idOficina"></COficinaInstancia>
          </v-card>
          <v-btn color="success" @click="paso = 3">Finalizar</v-btn>
        </v-stepper-content>

      </v-stepper>

    </v-card-text>
  </v-card>
 </template>

<script>
import CJuzgadoRegistro from "../../components/molecules/juzgados/CJuzgadoRegistro";
import COficinaInstancia from "../../components/molecules/oficinas/COficinaInstancia";
export default {
  name: "form-juzgados",
  components: { COficinaInstancia, CJuzgadoRegistro },
  data() {
    return {
      paso: 1,
      idOficina: 0,
      items: [
        {
          text: "Inicio",
          disabled: false,
          href: "/"
        },
        {
          text: "Juzgados",
          disabled: false,
          href: "#"
        },
        {
          text: "Registro",
          disabled: true,
          href: "#"
        }
      ]
    };
  },
  methods:{
    cambiarIdOficina(id){
      this.idOficina = id;
    },
    sumarPaso(){
      this.paso = 2;
    }
  }
};
</script>

<style scoped>

</style>