<template>
  <v-main>
    <v-container fluid class="fill-height align-start">
      <v-row>
        <v-col>
          <slot></slot>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>
<script>
export default {
  name: "AMainTemplate",
};
</script>

<style lang="scss" scoped></style>
