<template>
  <v-responsive
    content-class="d-flex flex-row align-center"
    min-width="400"
    max-width="500"
    width=".5rem"
  >
    <v-text-field
      hide-details
      prepend-inner-icon="mdi-magnify"
      :placeholder="placeholder"
      :label="label"
      outlined
      dense
      @keyup.enter="$emit('click', texto)"
      v-model="texto"
      
    ></v-text-field>

    <v-btn color="primary" class="mx-1" @click="$emit('click', texto)"
      >Buscar</v-btn
    >
  </v-responsive>
</template>

<script>
export default {
  props: {
    placeholder: {
      default: "",
    },
    label: {
      default: "",
    },
  },
  data: () => ({
    texto: "",
  }),
};
</script>

<style lang="scss" scoped></style>
