<template>
  <!--
    Emite evento "change" cuando se cierra el "VDialog" y retorna false
    @event change
    @param {boolean}  anonymus - false
  -->
  <v-dialog
      :value="dialog"
      width="unset"
      scrollable
      persistent
  >
    <v-card>
      <v-card-title class="justify-space-between pa-3">
        <span class="title font-weight-medium">{{ titulo }}</span>
        <v-btn
          class="ml-2"
          icon
          tile
          color="secondary"
          @click="$emit('cerrar')"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container>
          <!-- @slot usar para el cuerpo del modal -->
          <slot></slot>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="$emit('cerrar')" color="primary" outlined text
          >Cancelar</v-btn
        >
        <!-- @slot usar para el footer del modal a lado del boton cancelar -->
        <slot name="actions"></slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: "CModal",
  model: {
    prop: "dialog",
    event: "change",
  },
  props: {
    /**
     * Agrega titulo
     */
    titulo: {
      type: String,
      default: "",
    },
    /**
     * Valor del modal
     * @values true, false
     * @default false
     */
    dialog: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped></style>
