<template>
  <v-list-item @click="$emit('click')">
    <v-list-item-icon class="mr-4">
      <v-icon v-text="icono" color="secondary" />
    </v-list-item-icon>

    <v-list-item-content>
      <v-list-item-title class="secondary--text" v-text="texto" />
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: "CMenuItem",
  props: ["texto", "icono"],
};
</script>

<style scoped></style>
