<template>
  <v-menu offset-x rounded left transition="fade-transition" open-on-hover>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on" tile color="primary">
        <v-icon> {{ icono || "mdi-dots-vertical" }} </v-icon>
      </v-btn>
    </template>

    <v-list dense nav>
      <slot></slot>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  name: "CMenu",
  props: ["icono"],
};
</script>
<style lang="scss"></style>
