<template>
  <v-snackbar
    v-model="mensaje"
    style="width: 100%"
    :timeout="360000"
    color="error"
  >
    <div style="margin-top: 20px">
      <p class="text-sm" style="line-height: 0.1">- {{ errores }}</p>
    </div>
    <div align="right">
      <v-btn text @click="cerrar"> Cerrar</v-btn>
    </div>
  </v-snackbar>
</template>

<script>
export default {
  name: "CSnackBarErrores",
  props: ["errores", "mensaje"],
  methods: {
    cerrar() {
      this.$emit("cerrar");
    },
  },
};
</script>

<style scoped></style>
