<template>
  <v-card elevation="1">
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-card-title class="d-flex justify-space-between pt-0"></v-card-title>

    <v-card-text>
      <COficinaTabla/>

    </v-card-text>
  </v-card>
</template>

<script>
import COficinaTabla from "../../components/molecules/oficinas/COficinaTabla";
export default {
  name: "index",
  components: { COficinaTabla },
  data() {
    return {
      codigo: "",
      items: [
        {
          text: "Inicio",
          disabled: false,
          href: "/"
        },
        {
          text: "Oficinas",
          disabled: false,
          href: "#"
        },
        {
          text: "Lista",
          disabled: true,
          href: "#"
        }
      ]
    };
  }
};
</script>

<style scoped>

</style>