<template>
  <v-app-bar app dense elevation="3" color="#039BE5" dark>
    <v-responsive content-class="d-flex flex-row align-center" max-width="300">
      <!--
        Retorna valores booleanos
        @event click
        @param {boolean}  drawerState - true, false
      -->
      <v-app-bar-nav-icon
        rounded
        icon
        tile
        @click="$emit('click', !drawerState)"
      ></v-app-bar-nav-icon>
      <v-text-field
        hide-details
        prepend-inner-icon="mdi-magnify"
        placeholder="Que tarea desea realizar..."
        single-line
        outlined
        dense
        class="hidden-xs-only"
        light
        background-color="white"
      ></v-text-field>
    </v-responsive>

    <v-spacer></v-spacer>
    <v-toolbar-title class="hidden-md-and-down px-4">
      Sistema de Registros
    </v-toolbar-title>
    <v-spacer></v-spacer>

    <v-responsive max-width="300">
      <div class="d-flex justify-end align-center d-block">
        <v-tooltip bottom nudge-bottom="-10">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="" icon tile v-bind="attrs" v-on="on">
              <v-icon>mdi-email</v-icon>
            </v-btn>
          </template>
          <span>Inicio</span>
        </v-tooltip>

        <!-- Menu de Notificaciones -->
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-width="200"
          offset-y
          offset-x
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" icon tile>
              <v-icon v-bind="attrs" v-on="on">mdi-bell</v-icon>
            </v-btn>
          </template>
          <v-card height="500" width="400">
            <v-tabs v-model="tab" dense>
              <v-tab>Notificaciones</v-tab>
              <v-tab>Eventos</v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
              <v-tab-item>
                <v-list three-line>
                  <template v-for="(item, index) in items">
                    <v-subheader
                      v-if="item.header"
                      :key="item.header"
                      v-text="item.header"
                    ></v-subheader>

                    <v-divider
                      v-else-if="item.divider"
                      :key="index"
                      :inset="item.inset"
                    ></v-divider>

                    <v-list-item v-else :key="item.title">
                      <v-list-item-avatar>
                        <v-img :src="item.avatar"></v-img>
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title
                          v-html="item.title"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="item.subtitle"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-list>
              </v-tab-item>
              <v-tab-item> test 2 </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-menu>

        <!-- Opciones de usuario -->
        <v-menu offset-y>
          <template
            v-if="$vuetify.breakpoint.xs"
            v-slot:activator="{ on, attrs }"
          >
            <v-btn v-bind="attrs" v-on="on" elevation="0" icon tile>
              <v-avatar v-bind="attrs" v-on="on" size="28" color="white">
                <span class="black--text text-h6">JP</span>
              </v-avatar>
            </v-btn>
          </template>

          <template v-else v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              class="text-capitalize"
              v-on="on"
              elevation="0"
              text
              large
              tile
            >
              Juan Perez
              <v-icon right large>mdi-menu-down</v-icon>
            </v-btn>
          </template>

          <v-list dense>
            <v-list-item @click="$router.push({ name: 'Home' })">
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="
                {
                }
              "
            >
              <v-list-item-title>Option 1</v-list-item-title>
            </v-list-item>
            <v-list-item
              @click="
                {
                }
              "
            >
              <v-list-item-title>Perfil</v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-title @click.stop.prevent>
                <v-row class="d-flex align-center">
                  <v-col cols="7" class="py-0">Modo oscuro</v-col>
                  <v-col cols="5" class="py-0">
                    <v-switch v-model="modooscuro" inset dense></v-switch>
                  </v-col>
                </v-row>
              </v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout">
              <v-list-item-title>Salir</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-responsive>
  </v-app-bar>
</template>
<script>
//import store from "@/store/index";
export default {
  props: {
    /**
     * Toggle
     * @values true, false
     */
    drawerState: Boolean,
    /**
     * Titulo a mostrar
     */
    titulo: String,
  },
  model: {
    prop: "drawerState",
    event: "click",
  },
  name: "CAppBar",

  data: () => ({
    modooscuro: false,
    windowSize: "",
    menu: false,
    message: false,
    hints: true,
    tab: null,

    items: [
      { header: "Today" },
      {
        avatar: "../../assets/logo.jpg",
        title: "Brunch this weekend?",
        subtitle: `<span class="text--primary">Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
        title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
        subtitle: `<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.`,
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
        title: "Oui oui",
        subtitle:
          '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
        title: "Birthday gift",
        subtitle:
          '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
      },
      { divider: true, inset: true },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
        title: "Recipe to try",
        subtitle:
          '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
    ],
  }),
  computed: {},
  methods: {
    logout() {
      /*if (confirm("¿Seguro que quieres salir? ")) {
        store.dispatch("destroyToken").then((response) => {
          if (response.data.res === true) {
            this.$router.push({ name: "users-login" });
          } else console.log("error");
          this.$toastr.error(response.data.message);
        });
      }*/
    },
  },
};
</script>
<style lang="scss" scoped>
::v-deep .v-toolbar__content {
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
}
</style>
