<template>
  <v-navigation-drawer
    :value="drawerState"
    mobile-breakpoint="960"
    app
    width="260"
    v-bind="$attrs"
    color="secondary"
    dark
  >
    <v-divider class="mb-1" />

    <v-list>
      <v-list-item>
        <v-list-item-avatar class="align-self-center" color="white" contain>
          <v-img src="../../assets/logo.jpg" class="logo"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <div class="titulomenu">Sistema de Registros</div>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider class="mb-2" />
    <v-list dense nav>
      <v-list-item v-for="item in items" :key="item.title" link :to="item.to">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.titulo }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "CSideBar",
  model: {
    prop: "drawerState",
    event: "change",
  },
  props: {
    /**
     * Toggle, muestra u oculta el SideBar
     * @values true, false
     */
    drawerState: Boolean,
  },
  data: () => ({
    items: [

      /*
      
      {
        titulo: "Juzgados",
        icon: "mdi-gavel",
        to: "/juzgados",
        grupo: "grupo1",
      },
      {
        titulo: "Juzgados dados de baja",
        icon: "mdi-playlist-remove",
        to: "/bajas-juzgados",
        grupo: "grupo1",
      },
      {
        titulo: "Juzgados de turno",
        icon: "mdi-format-list-checks",
        to: "/turnos-juzgados",
        grupo: "grupo2",
      },
      {
        titulo: "Departamentos",
        icon: "mdi-map",
        to: "/departamentos",
        grupo: "grupo2",
      },
      {
        titulo: "Provincias",
        icon: "mdi-map-marker-circle",
        to: "/provincias",
        grupo: "grupo2",
      },
      {
        titulo: "Municipios",
        icon: "mdi-map-marker",
        to: "/municipios",
        grupo: "grupo2",
      },
      {
        titulo: "Áreas Organizacionales",
        icon: "mdi-sitemap",
        to: "/areas-organizacionales",
        grupo: "grupo2",
      },
      {
        titulo: "Entes",
        icon: "mdi-scale-balance",
        to: "/entes",
        grupo: "grupo2",
      },
      {
        titulo: "Oficinas",
        icon: "mdi-home-modern",
        to: "/oficinas",
        grupo: "grupo2",
      },
      {
        titulo: "Gestoras",
        icon: "mdi-home-modern",
        to: "/gestoras",
        grupo: "grupo2",
      },
      {
        titulo: "Instancias",
        icon: "mdi-format-list-bulleted",
        to: "/instancias",
        grupo: "grupo2",
      },
      {
        titulo: "Zonas",
        icon: "mdi-hexagon-multiple",
        to: "/zonas",
        grupo: "grupo2",
      },
      {
        titulo: "Escalas Salariales",
        icon: "mdi-cash-usd",
        to: "/escalas-salariales",
        grupo: "grupo2",
      },
      {
        titulo: "Planillas Presupuestarias",
        icon: "mdi-table",
        to: "/planillas-presupuestarias",
        grupo: "grupo2",
      },*/

      {
        titulo: "Ingreso Correspondencia",
        icon: "mdi-map",
        to: "/registro-notas",
        grupo: "grupo2",
      },

      {
        titulo: "Consultar/Asignar Registros",
        icon: "mdi-table",
        to: "/consulta-registros",
        grupo: "grupo2",
      },
    ],
  }),
  computed: {},
  methods: {
    eventEmit(drawerState) {
      /**
       * Retorna valores booleanos
       *
       * @param {boolean} drawerState - true, false
       */
      this.$emit("change", drawerState);
    },
  },
};
</script>

<style>
.titulomenu {
  text-align: start;
  font-style: normal;
}
</style>
