<template>
  <v-app>
    <CAppBar v-model="drawerState" :titulo="$route.name" />
    <CSideBar v-model="drawerState" />
    <CMainTemplate>
      <router-view :key="$route.fullPath"></router-view>
    </CMainTemplate>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {
    CAppBar: () => import("./components/organisms/CAppBar.vue"),
    CSideBar: () => import("./components/organisms/CSideBar.vue"),
    CMainTemplate: () => import("./components/templates/CMainTemplate.vue"),
  },
  data: () => ({
    drawerState: false,
  }),
};
</script>
