<template>
  <v-card elevation="1">
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-card-title class="d-flex justify-space-between pt-0"></v-card-title>

    <v-card-text>

      <CBajasJuzgadosArchivo
      :baja_id="$route.params.id_baja_juzgado"
      >

      </CBajasJuzgadosArchivo>
    </v-card-text>
  </v-card>
</template>

<script>

import CBajasJuzgadosArchivo from "../../components/molecules/bajasJuzgados/CBajasJuzgadosArchivo";
export default {
  name: "respaldo",
  components: { CBajasJuzgadosArchivo },
  data() {
    return {
      codigo: "",
      items: [
        {
          text: "Inicio",
          disabled: false,
          href: "/"
        },
        {
          text: "Bajas de Juzgados",
          disabled: false,
          href: "#"
        },
        {
          text: "Archivo de respaldo",
          disabled: true,
          href: "#"
        }
      ]
    };
  },
};
</script>

<style scoped>

</style>